In [1]:
import pandas as pd
import numpy as np

#Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# 1. Create Data Frames

In [2]:
# Create Data Frame
aqi_meck_df = pd.DataFrame()
aqi_wake_df = pd.DataFrame()

# Array of Pollutants
pollutant = ["CO", "NO2", "OZONE", "PM2", "PM10"]

In [3]:
# Obtain each Pollutant's Median and Mean for Wake & Mecklenburg
for x in pollutant:
    # Read csv files
    temp_meck_df = pd.read_csv(f"Resources/ad_viz_plotval_data_{x}_meck.csv")
    temp_wake_df = pd.read_csv(f"Resources/ad_viz_plotval_data_{x}_wake.csv")
    # Find average value for sites
    meck_avg = temp_meck_df[f"{x}"].mean()
    wake_avg = temp_wake_df[f"{x}"].mean()
    # Find the median value for sites
    meck_median = temp_meck_df[x].median()
    wake_median = temp_wake_df[x].median()
    # Find 90th percentile for "DAILY_AQI_VALUE"
    meck_90 = temp_meck_df["DAILY_AQI_VALUE"].quantile(0.9)
    wake_90 = temp_wake_df["DAILY_AQI_VALUE"].quantile(0.9)

    # Store Average value and Median value in a dictionary
    meck_dict = {f"Average {x} Value": meck_avg,
                 f"Median {x} Value": meck_median,
                 f"90th Percentile {x} Value": meck_90}
    wake_dict = {f"Average {x} Value": wake_avg,
                 f"Median {x} Value": wake_median,
                 f"90th Percentile {x} Value": wake_90}
    # Add Dictionaries to Data Frames
    aqi_meck_df = aqi_meck_df.append(meck_dict, ignore_index=True)
    aqi_wake_df = aqi_wake_df.append(wake_dict, ignore_index=True)

In [4]:
aqi_wake_df

,Average CO Value,Median CO Value,90th Percentile CO Value,Average NO2 Value,Median NO2 Value,90th Percentile NO2 Value,Average OZONE Value,Median OZONE Value,90th Percentile OZONE Value,Average PM2 Value,Median PM2 Value,90th Percentile PM2 Value,Average PM10 Value,Median PM10 Value,90th Percentile PM10 Value
0,0.365074,0.4,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,14.964312,13.9,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,0.041619,0.0415,51.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.51173,8.3,57.9,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.128906,16.0,25.0

In [5]:
aqi_meck_df

,Average CO Value,Median CO Value,90th Percentile CO Value,Average NO2 Value,Median NO2 Value,90th Percentile NO2 Value,Average OZONE Value,Median OZONE Value,90th Percentile OZONE Value,Average PM2 Value,Median PM2 Value,90th Percentile PM2 Value,Average PM10 Value,Median PM10 Value,90th Percentile PM10 Value
0,0.400656,0.4,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,17.318151,16.5,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,0.045007,0.045,67.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.021609,8.0,57.9,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.183254,13.0,22.0

# 2. Clean & Merge Data Frames

In [6]:
# Change Null Values to the next value
aqi_meck_df = aqi_meck_df.fillna(method="bfill")
aqi_wake_df = aqi_wake_df.fillna(method="bfill")

aqi_meck_df

,Average CO Value,Median CO Value,90th Percentile CO Value,Average NO2 Value,Median NO2 Value,90th Percentile NO2 Value,Average OZONE Value,Median OZONE Value,90th Percentile OZONE Value,Average PM2 Value,Median PM2 Value,90th Percentile PM2 Value,Average PM10 Value,Median PM10 Value,90th Percentile PM10 Value
0,0.400656,0.4,7.0,17.318151,16.5,26.0,0.045007,0.045,67.0,9.021609,8.0,57.9,14.183254,13.0,22.0
1,NaN,NaN,NaN,17.318151,16.5,26.0,0.045007,0.045,67.0,9.021609,8.0,57.9,14.183254,13.0,22.0
2,NaN,NaN,NaN,NaN,NaN,NaN,0.045007,0.045,67.0,9.021609,8.0,57.9,14.183254,13.0,22.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.021609,8.0,57.9,14.183254,13.0,22.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.183254,13.0,22.0

In [7]:
# Change Index to County Name
aqi_meck_df = aqi_meck_df.rename(index={0: "Mecklenburg"})
aqi_wake_df = aqi_wake_df.rename(index={0: "Wake"})

# Merge Data Frames
aqi_df = pd.concat([aqi_meck_df, aqi_wake_df], axis=0)
aqi_df = aqi_df.dropna()
aqi_df

,Average CO Value,Median CO Value,90th Percentile CO Value,Average NO2 Value,Median NO2 Value,90th Percentile NO2 Value,Average OZONE Value,Median OZONE Value,90th Percentile OZONE Value,Average PM2 Value,Median PM2 Value,90th Percentile PM2 Value,Average PM10 Value,Median PM10 Value,90th Percentile PM10 Value
Mecklenburg,0.400656,0.4,7.0,17.318151,16.5,26.0,0.045007,0.0450,67.0,9.021609,8.0,57.9,14.183254,13.0,22.0
Wake,0.365074,0.4,6.0,14.964312,13.9,24.0,0.041619,0.0415,51.0,9.511730,8.3,57.9,17.128906,16.0,25.0

# 3. Final AQI Data Frame

In [8]:
# Add All 90th Percentile Values to find a sum
aqi_df["90th Percentile Sum"] = aqi_df["90th Percentile CO Value"] + aqi_df["90th Percentile NO2 Value"] + aqi_df["90th Percentile OZONE Value"] + aqi_df["90th Percentile PM2 Value"] + aqi_df["90th Percentile PM10 Value"]

# Find the Average of the 90th Percentile Sum
aqi_df["Average 90th Percentile"] = aqi_df["90th Percentile Sum"] / 5
aqi_df

,Average CO Value,Median CO Value,90th Percentile CO Value,Average NO2 Value,Median NO2 Value,90th Percentile NO2 Value,Average OZONE Value,Median OZONE Value,90th Percentile OZONE Value,Average PM2 Value,Median PM2 Value,90th Percentile PM2 Value,Average PM10 Value,Median PM10 Value,90th Percentile PM10 Value,90th Percentile Sum,Average 90th Percentile
Mecklenburg,0.400656,0.4,7.0,17.318151,16.5,26.0,0.045007,0.0450,67.0,9.021609,8.0,57.9,14.183254,13.0,22.0,179.9,35.98
Wake,0.365074,0.4,6.0,14.964312,13.9,24.0,0.041619,0.0415,51.0,9.511730,8.3,57.9,17.128906,16.0,25.0,163.9,32.78

In [9]:
# Export to csv
aqi_df.to_csv("Resources/nc2023_aqi_df.csv")